<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{pageTitle}}</title>
</head>
<body>
	{{> header}}
	<p>{{screamIt "Welcome to my page"}}</p>
	<p>
		this page will server for the help requests
	</p>
{{> footer}}
</body>	
</html>